html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css')
    link(rel='stylesheet', href='/css/util.css')
    block links 
    block scripts
  body
    include partials/header.pug
    block body
    
    include partials/footer.pug
  
